<select ...attributes class="browser-default">
    {{#if @placeholder}}
    <option value="" disabled selected>{{@placeholder}}</option>
    {{/if}}
    {{#each @values as |value|}}
    <option value={{value.id}}>{{value.content}}</option>
    {{/each}}
</select>