<h3>Playing quiz of difficulty
    <b>{{if this.difficulty this.difficulty "any"}}</b>
    and category
    <b>{{if this.category this.category "any"}}</b>
</h3>
{{#each @model.results as |trivia|}}
<TriviaQuestion @trivia={{trivia}} />
{{/each}}