<h4>Playing <b>{{if this.difficulty this.difficulty ""}}</b> quiz of
    category
    <b>{{if this.category this.category "any"}}</b>
</h4>
<div class="progress">
    <div class="determinate"></div>
</div>
<div class="questions">
    {{#each @model.results as |trivia index|}}
    <TriviaQuestion @trivia={{trivia}} @onAnswer={{fn this.answer index}} />
    {{/each}}
</div>