<header>
    <nav>
        <div class="nav-wrapper">
            <LinkTo class="brand-logo center" @route="trivia">
                <i class="large material-icons">school</i>
            </LinkTo>
            <ul id="nav-mobile" class="left">
                <LinkTo @route="trivia" @tagName="li">
                    <a href="">Trivia</a>
                </LinkTo>
                <LinkTo @route="quiz" @tagName="li">
                    <a href="">Quiz</a>
                </LinkTo>
            </ul>
        </div>
    </nav>
</header>
<main>
    <div class="container">
        {{outlet}}
    </div>
</main>
<footer class="page-footer">
    <div class="footer-copyright">
        <div class="container center">
            Made with <i class="material-icons">favorite</i> in Bierbeek
        </div>
    </div>
</footer>