<h2>Test your knowledge</h2>
<form>
    <label for="trivia_difficulty">Select Difficulty: </label>
    <select name="trivia_difficulty">
        <option value="any">Any Difficulty</option>
        <option value="easy">Easy</option>
        <option value="medium">Medium</option>
        <option value="hard">Hard</option>
    </select>
    <br>
    <label for="trivia_category">Select Category: </label>
    <select name="trivia_category">
        <option value="any">Any Category</option>
        <option value="sport">Sport</option>
        <option value="media">Media</option>
        <option value="todo">...</option>
    </select>
    <br>
    <button type="submit">Start</button>
</form>