<div class="section">
    <h4 class="center-align">Your Daily Trivia</h4>
    <div class="divider"></div>
    <p>
        <TriviaFact @trivia={{@model}} />
    </p>
    <div class="divider"></div>
</div>