<div class="section">
    <h4>Your Daily Trivia</h4>
    <div class="divider"></div>
    <p>
        <TriviaFact @trivia={{@model}}>
            {{!-- <button type="button" class="waves-effect waves-light btn">
                <i class="material-icons">refresh</i>
            </button> --}}
        </TriviaFact>
    </p>
</div>